.book {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .book img {
    width: 100px;
    margin-right: 1rem;
  }
  
  .book h3 {
    margin: 0;
  }
  
  .book p {
    margin: 0;
  }
  